@each $variant, $value in $theme-colors {
  .btn-outline-#{$variant} {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-disabled-color: var(--bs-secondary);
  }

  .btn-#{$variant} {
    --bs-btn-disabled-color: var(--bs-secondary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-secondary);
    --bs-btn-disabled-opacity: 1;
  }
}

.btn-action {
  --bs-btn-focus-box-shadow: 0 0 0 2px var(--bs-primary);

  &:focus,
  &:focus-visible,
  &.pseudo-focus {
    --bs-btn-border-color: var(--bs-white);
    --bs-btn-hover-border-color: var(--bs-white);
  }
}

.btn-outline-action {
  --bs-btn-bg: var(--bs-body-bg);
}

.btn-outline-primary {
  --bs-btn-hover-bg: #{tint-color($primary, 90%)};
  --bs-btn-active-bg: #{tint-color($primary, 90%)};
  --bs-btn-active-shadow: 1px 1px 8px 5px var(--bs-light);
  --bs-btn-disabled-color: var(--bs-secondary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-secondary);
  --bs-btn-disabled-opacity: 1;
  --bs-btn-focus-box-shadow: 0 0 0 2px var(--bs-primary) inset;

  &:focus,
  &:focus-visible,
  &.pseudo-focus {
    --bs-btn-border-color: var(--bs-action);
    --bs-btn-hover-border-color: var(--bs-action);
  }
}

.btn-outline-secondary {
  --bs-btn-color: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-light);
  --bs-btn-hover-bg: var(--bs-light);
  --bs-btn-hover-color: var(--bs-body-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-body-color);
  --bs-btn-active-bg: var(--bs-body-bg);
  --bs-btn-active-shadow: 1px 1px 8px 5px var(--bs-light);
  --bs-btn-disabled-opacity: 0.5;
  --bs-btn-disabled-color: var(--bs-secondary);
  --bs-btn-disabled-border-color: var(--bs-secondary);
  --bs-btn-focus-box-shadow: 0 0 0 #{$btn-focus-width} rgba(var(--bs-action-rgb), 0.5), 0 0 0 1px var(--bs-primary) inset;
}

.btn-outline-dark {
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-hover-bg: var(--bs-action);
  --bs-btn-hover-border-color: var(--bs-action);
  --bs-btn-bg: var(--bs-body-bg);
}

@include color-mode(dark) {
  .btn-action {
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: var(--bs-white);
    --bs-btn-color: var(--bs-body-bg);

    --bs-btn-hover-bg: var(--bs-body-color);
    --bs-btn-hover-border-color: var(--bs-body-color);
    --bs-btn-hover-color: var(--bs-body-bg);
  }

  .btn-outline-action {
    --bs-btn-bg: var(--bs-body-bg);
    --bs-btn-border-color: var(--bs-body-color);
    --bs-btn-color: var(--bs-body-color);

    --bs-btn-hover-bg: var(--bs-body-bg);
    --bs-btn-hover-border-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
  }

  .btn-outline-primary {
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-hover-bg: #{shade-color($primary, 95%)};
    --bs-btn-active-bg: var(--bs-body-bg-color);
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-active-shadow: transparent;
  }

  .btn-outline-secondary {
    --bs-btn-hover-bg: #{shade-color($secondary, 60%)};
    --bs-btn-hover-border-color: currentColor;
    --bs-btn-active-bg: #{shade-color($secondary, 60%)};
    --bs-btn-active-shadow: transparent;
    --bs-btn-border-color: var(--bs-border-color);
    --bs-btn-disabled-border-color: var(--bs-border-color);
    --bs-btn-disabled-opacity: 0.4;
  }

  .btn-outline-dark {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-color: currentColor;
    --bs-btn-hover-bg: rgba(var(--bs-body-color-rgb), #{$btn-hover-bg-tint-amount});
    --bs-btn-hover-border-color: currentColor;
  }
}
