@mixin animation-delay-loop($from:0, $to:10, $delay: 300ms) {
  @for $i from $from through $to {
    &:nth-child(#{$i}) {
      animation-delay: $i * $delay;
    }
  }
}

@mixin popover-magnified-variant($bg, $bg-darker: $action) {
  color: color-contrast($bg);
  @include gradient-y(mix($bg, $bg-darker), $bg);

  .popover-header {
    background: mix($bg-darker, $bg);
    border: 0;
    color: color-contrast(mix($bg-darker, $bg));
  }

  .popover-body {
    color: inherit;
    padding: $spacer;
  }

  &.popover.bs-popover-top > .popover-arrow::after,
  &.popover.bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::after {
    border-top-color: $bg;
  }

  &.popover.bs-popover-bottom > .popover-arrow::after,
  &.popover.bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after {
    border-bottom-color: mix($bg, $bg-darker);
  }

  &.popover.bs-popover-left > .popover-arrow::after,
  &.popover.bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::after {
    border-left-color: $bg;
  }

  &.popover.bs-popover-right > .popover-arrow::after,
  &.popover.bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::after {
    border-right-color: $bg;
  }
}


@mixin popover-variant($bg, $border-width: $popover-border-width, $border-color: $popover-border-color) {
  $bg-darker: darken($bg, 3%);
  color: color-contrast($bg);
  background: $bg;
  border: $border-width solid $border-color;

  .popover-header {
    background: mix($bg-darker, $bg);
    color: color-contrast(mix($bg-darker, $bg));
  }

  .popover-body {
    color: inherit;
    padding: $spacer;
  }

  &.popover.bs-popover-top > .popover-arrow::after,
  &.popover.bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::after {
    border-top-color: $bg;
  }

  &.popover.bs-popover-top > .popover-arrow::before,
  &.popover.bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::before {
    border-top-color: $border-color;
  }

  &.popover.bs-popover-bottom > .popover-arrow::after,
  &.popover.bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after {
    border-bottom-color: $bg;
  }

  &.popover.bs-popover-bottom > .popover-arrow::before,
  &.popover.bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::before {
    border-bottom-color: $border-color;
  }

  &.popover.bs-popover-left > .popover-arrow::after,
  &.popover.bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::after {
    border-left-color: $bg;
  }

  &.popover.bs-popover-left > .popover-arrow::before,
  &.popover.bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::before {
    border-left-color: $border-color;
  }

  &.popover.bs-popover-right > .popover-arrow::after,
  &.popover.bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::after {
    border-right-color: $bg;
  }

  &.popover.bs-popover-right > .popover-arrow::before,
  &.popover.bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::before {
    border-right-color: $border-color;
  }
}
