$saddle-red: #FA4070;
$primary: #193D87;
$secondary: #FA4070;
$tertiary: #FFBF57;
$danger: #dc3545;

$warning: #FFBF57;
$success: #00bb84;
$info: #45C4FF;
$light: #F0F0F0;
$lighter: #F4F4F6;

$link-color: $primary;
$body-bg: #F2F0F0;

$card-cap-bg: mix($body-bg, white);
$translation-bg: #fcf8e3;

$theme-colors: (
  icij: #852308,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  lighter: $lighter,
  dark: darken($primary, 10),
  darker: darken($primary, 20),
  darkest: darken($primary, 30),
  mark: #fcf8e3,
  category-ban: $secondary,
  category-person: #ff6699,
  category-organization: darken($warning, 5),
  category-location: #4cd9aa,
  category-email: #33beff
);

$enable-shadows: true;
$enable-rounded: true;

$font-family-sans-serif: "Lato", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Merriweather", Georgia, "Times New Roman", Times, serif;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;

$special-font-family: "Medel", $headings-font-family;

$text-muted: #717171;

$input-focus-border-color: map-get($theme-colors, 'secondary');
$custom-control-indicator-checked-bg: $tertiary;

$btn-box-shadow: none;

$popover-max-width: 480px;
$popover-box-shadow: 0 20px 40px 10px rgba(black, .2);
$popover-border-color: white;
$popover-bg: black;
$popover-border-width: 0;
$popover-border-color: $popover-bg;
$popover-body-color: white;
$popover-header-bg: #31313a;
$popover-header-color: white;

$modal-content-border-width: 0;
$modal-content-box-shadow-xs: 0 1px 3px 0 rgba(black, .15);
$modal-content-box-shadow-sm-up: 0 2px 6px 0 rgba(black, .25);
$modal-backdrop-bg: #292930;
$modal-backdrop-opacity: .5;
$modal-inner-padding: 1.5rem;

$kbd-padding-y: .2em;
$kbd-padding-x: .4em;
$kbd-bg: rgba(#222, .7);

$tooltip-max-width: 260px;
$tooltip-opacity: 1;

$input-box-shadow: none;
$b-toast-background-opacity: $tooltip-opacity;

$font-size-sm: .9rem;
$font-size-lg: 1.2rem;
$line-height-sm: 1.7;

$table-accent-bg: mix($body-bg, white);

$nav-tabs-link-active-bg: white;

// Bootstrap variables and mixins must be available everywhere
@import '~node_modules/bootstrap/scss/_functions.scss';
@import '~node_modules/bootstrap/scss/_variables.scss';
@import '~node_modules/bootstrap/scss/_mixins.scss';
// We also defines a few functions and mixins internally
@import './functions.scss';
@import './mixins.scss';

$spacer-xs: $spacer * 0.5;
$spacer-sm: $spacer * 0.75;
$spacer-lg: $spacer * 1.5;
$spacer-xl: $spacer * 2;
$spacer-xxl: $spacer * 4;

$app-bg: #31313a;
$app-border-radius: 1rem;

$app-nav-height: 4.5rem;
$app-nav-brand-height: $app-nav-height - ($spacer * 2);

$app-sidebar-bg: darken(#31313a, 10%);
$app-sidebar-color: #fff;
$app-sidebar-border-color: mix($app-sidebar-color, $app-sidebar-bg, 5%);
$app-sidebar-width: 290px;
$app-sidebar-reduced-width: 90px;
$app-sidebar-link-color: mix($app-sidebar-bg, $app-sidebar-color, 40%);

$app-context-sidebar-bg: mix(white, $app-sidebar-bg, 5%);
$app-context-sidebar-color: #fff;
$app-context-sidebar-width: 360px;

$search-results-list-width: 420px;

$document-min-width: 850px;
$document-float-breakpoint-width:  1700px;
