$prefix: bs-;

$primary: #112A5C;
$secondary: #FA4070;
$tertiary: #6F6F6F;
$danger: #dc3545;

$warning: #FFBF57;
$success: #00BB84;
$info: #45C4FF;
$white: #fff;
$light: #C7C7C7;
$lighter: #F3F3F3;
$black: #000;
$dark: #212529;
$darker: #0F0F10;;

$link-color: $primary;
$link-hover-color: mix($black, $secondary, 20%);
$link-decoration: none;

$body-color: #212529;
$body-bg: #fff;
$body-color-dark: #C7C9CD;
$body-bg-dark: #151518;
$body-secondary-bg: #F2F0F0;

$card-bg: var(--bs-body-bg);
$card-cap-bg: rgba(var(--bs-body-color-rgb), .03);
$translation-bg: #fcf8e3;

$theme-colors: (
  icij: #F00,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  lighter: $lighter,
  dark: $dark,
  darker: $darker,
  mark: #fff5bd,
  category-ban: $secondary,
  category-person: #ff6699,
  category-organization: #FFB53E,
  category-location: #4cd9aa,
  category-email: #33beff
);

$primary-bg-subtle: #F3F5F8;
$primary-color-subtle: $primary;
$primary-text-emphasis: $primary;

$primary-bg-subtle-dark: #232634;
$primary-border-subtle-dark: $dark;
$primary-border-subtle-dark: $white;
$primary-color-subtle-dark: $white;
$primary-text-emphasis-dark: mix($white, $primary, 55%);

$secondary-bg-subtle: #FFECF1;
$success-bg-subtle: #E5F8F3;
$info-bg-subtle: #ECF9FF;
$warning-bg-subtle: #FFF9EE;
$danger-bg-subtle:#FBEBEC;

$tertiary-bg-subtle: mix($white, $tertiary, 80%);
$tertiary-color-subtle: $tertiary;
$tertiary-border-subtle: mix($white, $tertiary, 60%);
$tertiary-text-emphasis: $tertiary;

$tertiary-bg-subtle-dark: #232634;
$tertiary-border-subtle-dark: $white;
$tertiary-color-subtle-dark: $white;
$tertiary-text-emphasis-dark: $white;

$light-bg-subtle: $lighter;
$light-bg-subtle-dark: $darker;
$light-border-subtle: $light;
$light-border-subtle-dark: #3E3F3F;

$dark-bg-subtle: $darker;
$dark-text-emphasis: $white;
$dark-text-emphasis-dark: $black;
$dark-bg-subtle-dark: $lighter;

$enable-shadows: true;
$enable-rounded: true;

$spacer: 1rem;
$spacer-xxs: $spacer * 0.25;
$spacer-xs: $spacer * 0.5;
$spacer-sm: $spacer * 0.75;
$spacer-md: $spacer;
$spacer-lg: $spacer * 1.5;
$spacer-xl: $spacer * 2;
$spacer-xxl: $spacer * 3;

$font-family-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Lato", "Source Sans Pro", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Merriweather", Georgia, "Times New Roman", Times, serif;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;

$special-font-family: "Medel", $headings-font-family;

$text-muted: #717171;

$font-size-base: 1rem;
$font-size-sm: math.div(14, 16) * 1rem;
$font-size-lg: 1.2rem;
$line-height-sm: 1.7;

$border-radius: 6px;
$border-radius-sm: .2rem;
$border-radius-lg: .375rem;
$border-radius-xl: 0.5rem;
$border-radius-xxl: 1rem;
$border-radius-pill: 50rem;

$alert-border-width: 0;

$input-bg:  var(--bs-body-bg);
$input-focus-border-color: var(--bs-secondary);
$input-hover-border-color: $input-focus-border-color;
$custom-control-indicator-checked-bg: $tertiary;

$btn-box-shadow: 0 0 0 0 transparent;
$btn-hover-bg-shade-amount: 25%;
$btn-hover-bg-tint-amount: 25%;
$btn-disabled-opacity: 0.75;

$input-btn-padding-y: 0.75em;
$input-btn-padding-x: 1em;
$input-btn-line-height: 1.25;

$form-check-input-border: var(--bs-border-width) solid $tertiary;
$form-check-input-border-radius: 2px;
$form-check-input-checked-border-color: var(--bs-primary-text-emphasis);

$form-radio-input-border: var(--bs-border-width) solid $tertiary;
$form-radio-input-checked-border-color: $form-check-input-checked-border-color;

$popover-bg: var(--bs-primary-bg-subtle);
$popover-box-shadow: var(--bs-box-shadow);
$popover-font-size: $font-size-base;
$popover-max-width: 375px;
$popover-border-width: 1px;
$popover-border-color: $popover-bg;
$popover-body-padding-y: $spacer-xl;
$popover-body-padding-x: $spacer-xl;
$popover-arrow-width: $spacer-xl;
$popover-arrow-height: $spacer;

$mark-bg: var(--bs-mark);

$modal-inner-padding: $spacer-xl;

$modal-content-color: null;
$modal-content-border-width: 1px;
$modal-content-border-radius: var(--bs-border-radius);
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width);
$modal-content-box-shadow-xs:  1px 1px 8px 5px rgba($black, 0.1);
$modal-content-box-shadow-sm-up: 1px 1px 8px 5px rgba($black, 0.1);

$modal-backdrop-bg: $black;
$modal-backdrop-opacity: .5;

$modal-header-border-color: transparent;
$modal-header-border-width: $modal-content-border-width;
$modal-header-padding-y: $modal-inner-padding;
$modal-header-padding-x: $modal-inner-padding;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x 0;

$modal-footer-bg: transparent;
$modal-footer-border-color: $modal-header-border-color;
$modal-footer-border-width: $modal-header-border-width;

$modal-sm: 300px;
$modal-md: 500px;
$modal-lg: 800px;
$modal-xl: 1140px;

$kbd-padding-y: .2em;
$kbd-padding-x: .4em;
$kbd-bg: rgba(#222, .7);

$tooltip-max-width: 260px;
$tooltip-opacity: 1;

$input-box-shadow: 0 0 0 0 transparent;
$b-toast-background-opacity: $tooltip-opacity;

$table-cell-padding-y: $spacer;
$table-cell-padding-x: $spacer;

$table-th-font-weight: normal;

$table-color: var(--bs-tertiary-text-emphasis);
$table-bg: var(--bs-body-bg);
$table-accent-bg: transparent;

$table-striped-bg: var(--bs-light-bg-subtle);

$nav-tabs-border-color: transparent;
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: transparent transparent var(--bs-secondary) transparent;
$nav-tabs-link-active-color: var(--bs-body-color);
$nav-tabs-link-active: transparent;
$nav-tabs-link-active-border-color: transparent transparent var(--bs-secondary) transparent;

$nav-underline-gap: $spacer;
$nav-underline-border-width: 2px;
$nav-underline-link-active-color:  var(--bs-body-color);

$dropdown-box-shadow: none;
$dropdown-border-color: var(--bs-light-border-subtle);
$dropdown-padding-x: math.div(12, 16) * 1rem;
$dropdown-padding-y: math.div(12, 16) * 1rem;
$dropdown-item-padding-y: $spacer-xs;
$dropdown-item-padding-x: $spacer-xxs;
$dropdown-link-hover-bg: var(--bs-primary-bg-subtle);
$dropdown-link-hover-color: var(--bs-primary-text-emphasis);
$dropdown-link-active-color: var(--bs-primary-text-emphasis);
$dropdown-link-active-bg: var(--bs-dropdown-bg);


// Bootstrap variables and mixins must be available everywhere
@import '~node_modules/bootstrap/scss/_functions.scss';
@import '~node_modules/bootstrap/scss/_variables.scss';
@import '~node_modules/bootstrap/scss/_mixins.scss';
// We also defines a few functions and mixins internally
@import './functions.scss';
@import './mixins.scss';
@import './maps.scss';

$app-nav-height: 4.5rem;
$app-nav-brand-height: $app-nav-height - ($spacer * 2);

$app-sidebar-bg: darken(#31313a, 10%);
$app-sidebar-color: #fff;
$app-sidebar-border-color: mix($app-sidebar-color, $app-sidebar-bg, 5%);
$app-sidebar-width: 290px;
$app-sidebar-reduced-width: 100px;
$app-sidebar-link-color: mix($app-sidebar-bg, $app-sidebar-color, 40%);

$app-context-sidebar-bg: mix(#fff, $app-sidebar-bg, 5%);
$app-context-sidebar-color: #fff;
$app-context-sidebar-width: 380px;

$search-results-list-width: 600px;

$document-max-width: 980px;
$document-float-breakpoint-width:  1700px;
$color-mode-type: data;

