$prefix: bs-;

$primary: #112A5C;
$secondary: #FA4070;
$tertiary: #FFBF57;
$danger: #dc3545;

$warning: #FFBF57;
$success: #00BB84;
$info: #45C4FF;
$light: #C7C7C7;
$lighter: #F3F3F3;
$dark: #212529;
$darker: darken($dark, 20);
$darkest: darken($dark, 30);

$link-color: $primary;
$link-decoration: none;

$body-color: #000;
$body-bg: #fff;
$body-secondary-bg: #F2F0F0;

$card-bg: var(--#{$prefix}body-bg);
$card-cap-bg: rgba(var(--#{$prefix}body-color-rgb), .03);
$translation-bg: #fcf8e3;

$theme-colors: (
  icij: #F00,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  lighter: $lighter,
  dark: $dark,
  darker: $darker,
  darkest: $darkest,
  mark: #fff5bd,
  category-ban: $secondary,
  category-person: #ff6699,
  category-organization: #FFB53E,
  category-location: #4cd9aa,
  category-email: #33beff
);

$primary-bg-subtle: tint-color($primary, 80%);
$secondary-bg-subtle: #FFECF1;
$success-bg-subtle: #E5F8F3;
$info-bg-subtle: #ECF9FF;
$warning-bg-subtle: #FFF9EE;
$danger-bg-subtle:#FBEBEC;

$enable-shadows: true;
$enable-rounded: true;

$font-family-sans-serif:  -apple-system, BlinkMacSystemFont, "Lato", "Source Sans Pro", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Merriweather", Georgia, "Times New Roman", Times, serif;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;

$special-font-family: "Medel", $headings-font-family;

$text-muted: #717171;

$border-radius: .25rem;
$border-radius-sm: .2rem;
$border-radius-lg: .375rem;
$border-radius-xl: 0.5rem;
$border-radius-xxl: 1rem;
$border-radius-pill: 50rem;

$alert-border-width: 0;

$input-bg:  var(--#{$prefix}body-bg);
$input-focus-border-color: map-get($theme-colors, 'secondary');
$custom-control-indicator-checked-bg: $tertiary;

$btn-box-shadow: 0 0 0 0 transparent;

$popover-max-width: 480px;
$popover-box-shadow: 0 20px 40px 10px rgba(black, .2);
$popover-bg: #fff;
$popover-border-width: 0.1px;
$popover-border-color: #fff;
$popover-header-color: $body-color;

$mark-bg: map-get($theme-colors, 'mark');

$modal-content-border-width: 0;
$modal-content-box-shadow-xs: 0 1px 3px 0 rgba(black, .15);
$modal-content-box-shadow-sm-up: 0 2px 6px 0 rgba(black, .25);
$modal-backdrop-bg: #292930;
$modal-backdrop-opacity: .5;
$modal-inner-padding: 1.5rem;

$kbd-padding-y: .2em;
$kbd-padding-x: .4em;
$kbd-bg: rgba(#222, .7);

$tooltip-max-width: 260px;
$tooltip-opacity: 1;

$input-box-shadow: 0 0 0 0 transparent;
$b-toast-background-opacity: $tooltip-opacity;

$font-size-sm: .9rem;
$font-size-lg: 1.2rem;
$line-height-sm: 1.7;

$table-striped-bg: #f9f8f8;
$table-hover-bg: mix($secondary, #fff, 5%);

$nav-tabs-link-active-bg: #fff;

$dropdown-padding-y: 0.25rem;
$dropdown-item-padding-y: 0.5rem;

// Bootstrap variables and mixins must be available everywhere
@import '~node_modules/bootstrap/scss/_functions.scss';
@import '~node_modules/bootstrap/scss/_variables.scss';
@import '~node_modules/bootstrap/scss/_mixins.scss';
// We also defines a few functions and mixins internally
@import './functions.scss';
@import './mixins.scss';

$spacer-xxs: $spacer * 0.25;
$spacer-xs: $spacer * 0.5;
$spacer-sm: $spacer * 0.75;
$spacer-md: $spacer;
$spacer-lg: $spacer * 1.5;
$spacer-xl: $spacer * 2;
$spacer-xxl: $spacer * 4;

$app-nav-height: 4.5rem;
$app-nav-brand-height: $app-nav-height - ($spacer * 2);

$app-sidebar-bg: darken(#31313a, 10%);
$app-sidebar-color: #fff;
$app-sidebar-border-color: mix($app-sidebar-color, $app-sidebar-bg, 5%);
$app-sidebar-width: 290px;
$app-sidebar-reduced-width: 100px;
$app-sidebar-link-color: mix($app-sidebar-bg, $app-sidebar-color, 40%);

$app-context-sidebar-bg: mix(#fff, $app-sidebar-bg, 5%);
$app-context-sidebar-color: #fff;
$app-context-sidebar-width: 380px;

$search-results-list-width: 600px;

$document-max-width: 980px;
$document-float-breakpoint-width:  1700px;
