@import '@/main.scss';

.bg-striped {
  background: repeating-linear-gradient(
    45deg,
    #dfdddd,
    #dfdddd 10px,
    #cfcccc 10px,
    #cfcccc 20px
  );
  width: 500px;
}

@include color-mode(dark) {
  .bg-striped {
    background: repeating-linear-gradient(
      45deg,
      #222,
      #333 10px,
      #444 10px,
      #444 20px
    );
  }
}

h1 {
  font-family: var(--bs-font-sans-serif) !important;
  font-weight: var(--bs-body-font-weight);
  font-size: 2.5rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-font-sans-serif);
  font-weight: var(--bs-body-font-weight);
}

pre.prismjs {
  padding: 0.75rem;
  font-size: 1rem;
}

.docs-story {
  background: var(--bs-body-bg)
}
