@import './utils/settings.scss';
@import './utils/animations.scss';
@import './utils/toastify.scss';
@import '@/assets/fonts/Inter/stylesheet.css';
@import '@/assets/fonts/Medel/stylesheet.css';

@import '~node_modules/v-calendar/dist/style.css';
@import '~node_modules/bootstrap/scss/bootstrap';
@import '~node_modules/vue3-toastify/dist/index.css';
// BootstrapVue and its default variables
@import '~node_modules/bootstrap-vue-next/dist/bootstrap-vue-next.css';
// @TODO bundle Murmur so the import is easier
@import '~node_modules/@icij/murmur-next/dist/lib/murmur.css';

// Must be after bootstrap
@import './utils/alerts.scss';
@import './utils/buttons.scss';
@import './utils/nprogress.scss';

:root {
  --app-icon-raw-size: 1em;
}

.link-visitable:visited {
  color: mix($purple, white, 80%);
}

@include color-mode(dark) {
  .link-visitable:visited {
    color: mix($purple, $body-color-dark, 50%);
  }
}

.above-stretched-link {
  position: relative;
  z-index: $stretched-link-z-index + 10;
}

.dropdown-item-text,
.dropdown-item {
  border-radius: var(--bs-border-radius);

  &.active {
    font-weight: 500;
    background: var(--bs-body-bg);
  }
}

.dropdown-item.active:hover {
  background: var(--bs-dropdown-link-hover-bg);
  color: var(--bs-dropdown-link-hover-color);
}

.form-check .form-check-input:checked + .form-check-label {
  font-weight: 500;
  color: var(--bs-action-text-emphasis);
}

.form-check .form-check-input:not(:checked) {
  border: var(--bs-border-width) solid var(--bs-secondary-text-emphasis);
  & + .form-check-label {
    color:  var(--bs-secondary-text-emphasis);
  }
}

.form-control:hover,
.form-control.pseudo-hover,
.pseudo-hover-all .form-control {
  border-color: $input-hover-border-color;
}

body {
  font-size: 1rem;
  overflow: auto;
  // This is not ideal but it prevents some weird display issues with Chrome
  overflow-x: hidden;

  // Disable overflow scrollbar when the sidebar or the filters panel are in full width and not closed
  &:has(.app-sidebar--full-width:not(.app-sidebar--closed)),
  &:has(.filters-panel--full-width:not(.filters-panel--closed)) {
    overflow: hidden;
  }
}

// This class should be provided by default in Bootstrap 5 but for some reasong it's not working.
.bg-body {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)) !important;
}

.text-special {
  font-family: $special-font-family;
}

.content-placeholder {
  padding: $spacer;
}

.tooltip {
  &-lg .tooltip-inner {
    max-width: 90vw;
  }
}

// Truncated element in a flexbox child must not fully collapse when the
// flex container is resized down.
// @see https://drafts.csswg.org/css-flexbox/#min-size-auto
.flex-truncate,
.flex-truncate.d-flex > *,
.flex-truncate.d-inline-flex > *,
.flex-truncate.row > [class*='col-'],
.flex-truncate.row > .col,
.flex-truncate .d-flex > *,
.flex-truncate .d-inline-flex > *,
.flex-truncate .row > [class*='col-'],
.flex-truncate .row > .col,
.flex-truncate .list-group-item,
.flex-truncate .text-truncate {
  min-width: 0;
}

.table.card > tbody > tr:last-of-type > td,
.table-responsive.card > .table > tbody > tr:last-of-type > td {
  border-bottom-width: 0;
}

.popover {

  .popover-body {
    & >.dropdown-menu {
      background: inherit;
      color: inherit;
      float: none;

      .dropdown-item:not(.active) {
        background: transparent;
        color: inherit;

        &:hover {
          background: rgba(var(--bs-body-bg-rgb), 0.7);
        }
      }
    }

    .card-header {
      background-color: transparent;

      .nav-item .nav-link {

        &:hover {
          border-color: transparent;
          text-decoration: underline;
        }
      }

      .nav-item .nav-link.active {
        border-color: transparent;
        font-weight: bold;
      }
    }

    .card-body {
      background: $popover-header-bg;
    }
  }

  &.popover-body-p-0 {
    .popover-body {
      padding: 0;

      & .vc-container.vc-gray {
        border-radius: 4px;
      }

    }
  }

  &.popover-body-overflow-hidden:not(.dropdown-menu) .popover-body {
    border-radius: inherit;
    overflow: hidden;
  }
}

html[data-bs-theme] body .Toastify {
  --toastify-toast-width: 470px;

  &__toast {
    &-body {
      padding: 0;
    }

    &--error {
      background: var(--bs-danger-text-emphasis);
      color: var(--bs-danger-bg-subtle);
    }

    @each $state in map-keys($theme-colors) {
      &--#{$state} {
        background: var(--bs-#{$state}-bg-subtle);
        color: var(--bs-#{$state}-text-emphasis);
      }
    }
  }
}

.tab-group-navigation {
  &--nowrap:not(.flex-column) {
    overflow: auto;
    flex-wrap: nowrap;
    padding-bottom: $spacer-xxs;
    white-space: nowrap;
  }

  &--flush {
    & .nav-item:first-of-type a,& .nav-item:first-of-type button {
      padding-left: 0;
    }

    & .nav-item:last-of-type a,& .nav-item:last-of-type button {
      padding-right: 0;
    }
  }
}

.tab-group-navigation-entry {

  .nav-underline &--manual:not(&--active) > .nav-link {
    font-weight: normal;
    border-bottom-color: transparent;

    &.active {
      color: var(--bs-secondary-text-emphasis);
    }
  }

  &:not(&--manual) > .nav-link.router-link-active,
  &:not(&--manual) > .nav-link.router-link-exact-active,
  &:not(&--manual) > .nav-link.active,
  &--manual.tab-group-navigation-entry--active > .nav-link {

    --color: var(--bs-emphasis-color);
    background: transparent;
    border-bottom: 2px solid var(--bs-primary);
    font-weight: 500;

    .nav-tabs.flex-column>& {
      border-left: 2px solid var(--bs-primary);
    }
  }

  .nav-link {
    --color: var(--bs-secondary-text-emphasis);

    color: var(--color);
    padding: 10px $spacer-xs;
    border-color: transparent;

    &.nav-link:hover {
      --color: var(--bs-emphasis-color);
      border-color: var(--bs-primary);

      .nav-tabs.flex-column > & {
        border-left: 2px solid var(--bs-primary);
      }
    }

    .nav-tabs.flex-column > & {
      border-bottom: 0;
      padding: 0 $spacer;
      border-left: 2px solid transparent;
    }
  }

  & .badge {
    background: var(--color);
    color: var(--bs-body-bg);
    transition: $transition-base;
  }
}

.app-icon {
  min-width: 1em;
}
